//
// VARIABLES
//

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Colors
$blue: #4183c4;
$salvation: #50505b;
$blackmarlin: #383840;
$bastille: #2c2c32;
$aswadblack: #18181b;
$bauhaus: #404040;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$cerebralgray: #ccc;
$lightGray: #eee;
$white: #fff;

// Colors for specific blocks
$primary-color: $salvation !default; /*TODO: eliminate this*/
$masthead-link-color: $salvation !default;
$masthead-link-color-hover: $blackmarlin !default;
$navicon-link-color-hover: $aswadblack !default;
$main-text-color: $bauhaus !default;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}




$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;

$global-transition: all 0.2s ease-in-out !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;
$border-radius: 4px !default;
$type-size-5: 1em !default; // ~16px


$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$large: 1024px !default;
$muted-text-color: mix(#fff, $darkGray, 20%) !default;
$info-color: #3b9cba !default;
$link-color: mix(#000, $info-color, 20%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$active-color: mix(#fff, $primary-color, 80%) !default;
