<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}{% if site.description %} – {{ site.description }}{% endif %}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"/>

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/gurolsaglam.jpg">
    {% include analytics_head.html %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p> 
          </div>

          <!--The navigator was edited using code from the user taherbs on github: https://github.com/taherbs/taherbs.github.io-->
          <nav class="greedy-nav">
            <ul class="visible-links">
              {%- for link in site.data.navigation.main -%}
                {% assign class = nil %}
                {% if page.url contains link.url %}
                  {% assign class = 'active' %}
                {% endif %}
                {% if link.sublinks %}
                  <li class="dropdown">
                    {% if link.icon %}
                      <a class="dropdown-toggle" data-show="hover" role="button" aria-haspopup="true" aria-expanded="false"><i class="{{ link.icon }}"></i><span>{{ link.title }}</span><i class="fa fa-caret-down fa-sm" aria-hidden="true"></i></a>
                    {% else %}
                      <a class="dropdown-toggle" data-show="hover" role="button" aria-haspopup="true" aria-expanded="false"><span>{{ link.title }}</span><i class="fa fa-caret-down fa-sm" aria-hidden="true"></i></a>
                    {% endif %}
                    <ul class="dropdown-content">
                      {% for sublink in link.sublinks %}
                        <li>
                          <a href="{{ site.baseurl }}{{ sublink.url }}">    {{ sublink.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="masthead__menu-item">
                    {% if link.icon %}
                      <a href="{{ site.baseurl }}{{ link.url }}"><i class="{{ link.icon }}"></i><span>{{ link.title }}</span></a>
                    {% else %}
                      <a href="{{ site.baseurl }}{{ link.url }}"><span>{{ link.title }}</span></a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </header>
      </div>

      <div class="wrapper-main container">
        <div id="main" role="main">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer container">
        <div>
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
